:root{
    --SB:#a1a6d6;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--SB);
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.glow {
    text-shadow: 0 0 10px #242526, 0 0 20px #242526, 0 0 42px #242526, 0 0 82px #242526, 0 0 92px #242526;
}

header{
    margin: 30px 30px;
    padding: 20px 20px;
    border: solid var(--SB);
    background-color: #9C89CC;
    position:relative;
    z-index: 1;
    display:grid;
    text-shadow: 0 0 10px #7B509B, 0 0 20px #7B509B, 0 0 42px #7B509B, 0 0 82px #7B509B, 0 0 92px #7B509B;
    }

#H1{
    order: 0;
    align-self: flex-start;
    justify-self: center;
    font-size: 300%;
}

#CI{
    order: 1;
    align-self: flex-end;
    justify-self: flex-start;
}

header ul{
    font-size: 50%;
    display: flex;
    order: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-end;
    list-style-type: none;
}
body {
    background-image:url(../Images/GalaxyBackground.png);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 0;
}

main{
    display:flex;
    flex-direction: row-reverse;
}

.aboutme{
    background-color: #674587;
    border-radius: 300px;
    margin: 0px 50px;
    padding: 40px 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 10px #2F4395, 0 0 20px #2F4395, 0 0 42px #2F4395, 0 0 82px #2F4395, 0 0 92px #2F4395;
}

h2 {
    font-size: 200%;
    padding: 10px 0px 30px 0px;
}

#me{
    max-width: 400px;
    max-height: 600px;
    order: 1;
    justify-self: end;
    align-self: center;
    border-radius: 300px;
    margin: 30px 50px 0px 50px;
}

aside {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    padding: 0px 40px;
    background-image: url(../Images/MenuBackgroundCity.png);
    background-size:cover;
    border: Solid var(--SB);
    font-size: 130%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

aside img{
    max-width: 280px;
    max-height: 200px;
    border-radius: 15px;
}

a{
    color: var(--SB);
}

aside h2{
    text-align: center;
    color: var(--SB);
    font-size: 100%;
}

.btnwa{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 56px;
    }