:root{
    --SB:#a1a6d6;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--SB);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    margin: 30px 30px;
    padding: 20px 20px;
    border: solid var(--SB);
    background-image: url(../Images/MountanSkyBannerImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    z-index: 1;
    }

header ul{
    font-size: 80%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    list-style-type: none;
}
body {
    background-image:url(../Images/GalaxyBackground.png);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 0;
}

main{
    display:flex;
    flex-direction: row-reverse;
}

.aboutme{
    border: solid red;
    border-radius: 300px;
    margin: 0px 50px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

#aboutmeH{
    position: relative;
    right: 180px;
    top: 15px;
    font-size: 200%;
}

#aboutmeimg{
    position: relative;
}

aside {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    padding: 0px 40px;
    max-width: 400px;
    max-height: 990px;
    background-image: url(../Images/MenuBackgroundCity.png);
    /*background-repeat: no-repeat; (may not need)*/
    background-size:cover;
    border: Solid var(--SB);
    font-size: 130%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0 0 10px #242526, 0 0 20px #242526, 0 0 42px #242526, 0 0 82px #242526, 0 0 92px #242526;
}

aside img{
    max-width: 280px;
    max-height: 200px;
    border-radius: 15px;
}

a{
    color: var(--SB);
}

aside h2{
    text-align: center;
    color: var(--SB);
    font-size: 200%;
}

.btnwa{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 56px;
    }

@media screen and (max-width:1024px) {
    aside {
        width: 20%
    }
    .aboutme {
        width: 80%
    }
}